<div class="container">
	<%= form_for :article, url: articles_path do |f| %>
		<div class="row col-lg-offset-4 col-lg-4 form-group">
			<%= f.label :title %> <br>
			<%= f.text_field :title, class: "form-control" %>
		</div>

		<div class="row col-lg-offset-4 col-lg-4 form-group">
			<%= f.label :content %> <br>
			<%= f.text_area :content, class: "form-control" %>
		</div>

		<div class="row col-lg-offset-4 col-lg-4 form-group">
			<%= f.submit class: "btn btn-primary btn-block" %>
		</div>
	<% end %>
</div>